<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
  <div id="app">
    <button type="button" @click="pagename = 'mainpage'">switch to Main page</button>
    <button type="button" @click="pagename = 'aboutpage'">switch to About page</button>
    <button type="button" @click="pagename = 'contactpage'">switch to Contact page</button>
    <!-- <mainpage v-if="pagename === 'mainpage'"></mainpage>
    <aboutpage v-if="pagename === 'aboutpage'"></aboutpage>
    <contactpage v-if="pagename === 'contactpage'"></contactpage> -->
    <component :is="pagename"></component>
  </div>

  <script>
    Vue.component('mainpage', {
      template: `<div>This page is mainpage</div>`,
      created() {
        console.log('created mainpage')
      },
      destroyed() {
        console.log('destroyed mainpage')
      },
    })
    Vue.component('aboutpage', {
      template: `<div>This page is aboutpage</div>`,
      created() {
        console.log('created aboutpage')
      },
      destroyed() {
        console.log('destroyed aboutpage')
      },
    })
    Vue.component('contactpage', {
      template: `<div>This page is contactpage</div>`,
      created() {
        console.log('created contactpage')
      },
      destroyed() {
        console.log('destroyed contactpage')
      },
    })


    let vm = new Vue({
      el: '#app',
      data: {
        pagename: 'mainpage'
      }
    })
  </script>
</body>

</html>