<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
  <div id="app">
    <p>父元件：<br>
      {{ parentmsg }}<br>
      <input type="text" v-model="parentmsg">
    </p>
    <p>子元件：
      <child-component :childmsg="parentmsg"></child-component>
    </p>
  </div>

  <script>

    Vue.component('child-component', {
      template: '<div>{{ childmsg }} <br><input type="text" v-model="childmsg"></div>',
      props: {
        childmsg: String
      }
    })

    let vm = new Vue({
      el: '#app',
      data: {
        parentmsg: "父元件資料"
      }
    })
  </script>
</body>

</html>